---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Heritage Consultants" 
	pageForHeader="home" 
	description="Heritage Consultants offers archaeological, GIS, architectural history, interpretive planning, grant writing, litigation research and much more.">
    <section id="team">
        <h1>Our Leadership</h1>
        <div id="leadership">
            <div class="leadership--title"><img src="/HC-DavidGeorge.webp" alt="Picture of CEO David George" height="500" width="500"><h2>David George, M.A., RPA</h2></div>
            <div class="leadership--title"><img src="/HC-WilliamKeegan.webp" alt="Headshot of William Keegan" height="500" width="500"><h2>William Keegan, B.A.</h2></div>
            <div class="leadership--title"><img src="/HC-DavidLeslie.webp" alt="Headshot of David Leslie Ph.D." height="500" width="500"><h2>David Leslie Ph.D., RPA</h2></div>
            <p class="leadership--bio">David George is President & CEO of Heritage Consultants. He has over 30 years of experience in cultural resources management and has directed over 3,000 projects throughout the Nation, with an emphasis on New England and New York. Mr. George holds an M.A. in Anthropology from the University of Connecticut and is a National Park Service 36 CFR 61-qualified archaeologist. He has completed projects on behalf of hundreds of clients and understands the intricacies of the cultural resources management process.</p>
            <p class="leadership--bio">Mr. William F. Keegan serves as Vice President and Historical Geographer at Heritage Consultants. He received his Bachelor of Arts degree in Anthropology from the University of Connecticut in 1996. He is a co-founder of the company and he specializes in archival, genealogical, and historical research, as well as Geographic Information Systems applications in archeology, specifically historic landscape reconstruction and fatal flaws analysis.</p>
            <p class="leadership--bio">Dr. Leslie is the Director of Research at Heritage Consultants and has over 20 years of archaeological experience.  He is a geoarchaeologist and lithic specialist, and earned his Ph.D. in Anthropology at the University of Connecticut.  He has worked at all levels of archaeology and spent the last eight years as a Principal Investigator in the Northeast, designing and implementing all phases of archaeological survey and recovery, including geophysical and geoarchaeological investigations.  His work has been published in peer-reviewed journals such as Science, PaleoAmerica, Archaeology of Eastern North America, and Northeast Anthropology.</p>
        </div>
        <div id="projectManagers">
            <h2>Project Managers</h2>
            <div class="managers--title"><img src="/HC-ReneePetruzelli.webp" alt="Picture of CEO David George" height="500" width="500"><h2>Renee Petruzelli, M.A.</h2></div>
            <div class="managers--title"><img src="/HC-AntonioMedina.webp" alt="Picture of CEO David George" height="500" width="500"><h2>Antonio Medina, B.A.</h2></div>
            <div class="managers--title"><img src="/HC-DanielZoto.webp" alt="Picture of CEO David George" height="500" width="500"><h2>Daniel Zoto, M.A., RPA</h2></div>
            <div class="managers--title"><img src="/HC-BrennaPisanelli.webp" alt="Picture of CEO David George" height="500" width="500"><h2>Brenna Pisanelli, M.A.</h2></div>
            <!-- <p class="managers--bio">Ms. Renee Petruzelli serves as Project Manager at Heritage Consultants. She earned a Master’s Degree in  Anthropology from the University of Connecticut and is a Registered Professional Archaeologist. She has considerable experience in the areas of zooarchaeology, lithic and precontact era ceramic studies, eighteenth and nineteenth century material culture analysis, and artifact conservation techniques. Ms. Petruzelli routinely completes projects throughout Connecticut, Massachusetts, Rhode Island, New Hampshire, and New York. including roadway improvement efforts, bridge replacements, solar centers, large and small electrical transmission and distribution projects, and other infrastructural endeavors, as well as many private development projects.</p>
            <p class="managers--bio">Mr. Antonio Medina serves as Senior Archaeologist and Operations Manager at Heritage Consultants. He earned a Bachelor of Arts degree in Anthropology from Hartwick College in 1993 and has supervised dozens of cultural resources management projects in Maine, Vermont, New Hampshire, Connecticut, Rhode Island, Massachusetts, and New York. He has extensive experience working on electric transmission projects, natural gas, wind, solar, and other infrastructure improvement projects such as airports, railway lines, and highways.</p>
            <p class="managers--bio">Mr. Zoto serves as a Project Manager at Heritage Consultants and has more than 12 years of professional experience in New England archaeology.  He holds an M.A. from the University of Connecticut and a B.A. from the University of Massachusetts, Amherst. He is a Registered Professional Archaeologist (RPA# 5123). Dan has worked on more than 125 cultural resources projects and has been the lead or co-author on more than 50 technical reports associated with these projects. He specializes in lithic analysis, field methods, and public outreach. </p>
            <p class="managers--bio">Ms. Pisanelli is a Project Manager at Heritage Consultants who graduated from Roger Williams University in 2017 with a Bachelor of Science in Historic Preservation and a Bachelor of Arts in Anthropology & Sociology as well as Art & Architectural History. She earned her Master of Arts degree in American Studies from Brown University in 2019. Working from an interdisciplinary lens, her research focuses on how concepts surrounding authenticity and historical narrative impact the construction of cultural identities and sense of place, and how this informs our preservation practices. She believes in the importance of public outreach and creating visibility and accessibility within the industry.</p>-->
        </div> 
    
    </section>
    <section id="jobs">
    
    </section>
</Layout>

<style>
    #team{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1920px;
        width:100%;
    }
    h1{
        font-size: 3rem;
        color: #fff;
        background-color: #0063A7;
        font-weight: 700;
        padding: 16px 32px;
        align-self: flex-start;
        margin-bottom: 64px;
        padding-left:10%;
    }
    #leadership {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 48px;
        padding: 0px 48px 32px 48px;
    }
    .leadership--title , .managers--title{
        width:100%;
        position: relative;
        aspect-ratio: 1;
    }
    .leadership--title > img ,  .managers--title > img{
        max-height: 100%;
        max-width: 100%;
        width: 100%;

    }
    .leadership--title > h2 {
        position: absolute;
        background-color: #0063A7;
        padding: 8px 16px;
        font-size: 2rem;
        color: #fff;
        bottom: 24px;
        left: -12px;
        margin:0;
    }
    .leadership--bio {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    #projectManagers{
        background-color: #0063A7;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 48px;
        padding: 136px 48px 32px 48px;
        width: 100%;
        max-width: 100%;
        position: relative;
    }
    #projectManagers > h2 {
        color:#0063A7;
        background-color: #fff;
        padding: 16px 32px 16px 10%;
        text-align: center;
        position: absolute;
        left:0;
        top:24px;
        font-size: 3rem;
        font-weight: 700;
        margin:0;
    }
    .managers--title > h2 {
        position: absolute;
        left:-12px;
        bottom:24px;
        background-color: #fff;
        padding: 8px 16px;
        color:#0063A7;
        margin:0px;
    }
    .managers--bio {
        color:#fff;
        font-size: 1rem;
        line-height: 1.8rem;
    }

    @media only screen and (max-width: 1300px) { 
        .leadership--title > h2 {
            font-size: 1.4rem;
        }
        .managers--title > h2 {
            font-size: 1rem;
        }
    }
    @media only screen and (max-width: 1000px) { 
        #leadership {
            grid-template-columns: 1fr;
        }
        .leadership--title , .managers--title {
            text-align: center;
            aspect-ratio: 1;
            max-height: 500px;
        }
        .leadership--title > img ,  .managers--title > img{
            max-height: 1;
            max-width: 500px;
            width: 100%;
        }
        .leadership--bio:nth-of-type(1){
            grid-row-start: 2;
        }
        .leadership--bio:nth-of-type(2){
            grid-row-start: 4;
        }
        #projectManagers {
            grid-template-columns: 1fr 1fr;
            row-gap: 48px;
        }
    }
    @media only screen and (max-width: 500px) { 
        #projectManagers {
            grid-template-columns: 1fr;
            row-gap: 24px;
        }
        #projectManagers > h2 {
            font-size: 2.2rem;
        }
    }

</style>