---

---
<section id="sectors">
    <h2>Expertise for All Sectors</h2>
    <div id="sectors--icons">
        <div class="icon--contain">
            <img src="./utility.svg" alt="icon of electrical pole" class="" height="100" width="130">
            <p>Utility-Energy</p>
        </div>
        <div class="icon--contain">
            <img src="./transport.svg" alt="icon of bus" class=""  height="100" width="130">
            <p>Transportation</p>
        </div>
        <div class="icon--contain">
            <img src="./private.svg" alt="icon of a house" class=""  height="100" width="130">
            <p>Private</p>
        </div>
        <div class="icon--contain">
            <img src="./municipal.svg" alt="icon of  school" class=""  height="100" width="130">
            <p>Municipal</p>
        </div>
        <div class="icon--contain">
            <img src="./telecom.svg" alt="icon of a cellphone tower" class=""  height="100" width="130">
            <p>Telecom</p>
        </div>       
    </div>
    <img src="./5sectors.svg" alt="icon of a cellphone tower, school house, house, bus, and electrical pole" class="" id="mobile-sectors" height="350" width="350">
    
</section>

<style>
    #sectors {
        background-color: #0063A7;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding:48px;
    }
    #sectors > h2 {
        color:#fff;
        font-size: 3.6rem;
        font-weight: 700;
        margin: 0px 0px 32px 0px;
    }
    #sectors--icons {
        display: flex;
        width: 100%;
        justify-content: space-around;
        max-width: 1920px;
        
    }
    .icon--contain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon--contain > p {
        color:#fff;
        font-weight: 700;
        font-size: 2rem;
    }
    #mobile-sectors {
        display: none;
    }

    @media only screen and (max-width: 1000px) { 
        #sectors {
            padding: 48px 8px;
        }
        #sectors > h2 {
            font-size: 2rem;
        }
        .icon--contain {
            display: none;
        }
        #mobile-sectors {
            display: block;
            width:350px;
        }
    }
</style>