---

---
<section id="services">
    <div id="services--selector">
        <h2>Services</h2>
        <button data-topic="arch" data-height="112" class="services--button active">Archaeology<span class="slider"></span></button>
        <button data-topic="history" data-height="190" class="services--button">Architectural History<span class="slider"></span></button>
        <button data-topic="gis" data-height="282" class="services--button">Geographic and <br>Information Services<span class="slider"></span></button>
        <button data-topic="cemetery" data-height="388" class="services--button">Cemetery Evaluation <br>and Excavation<span class="slider"></span></button>
        <button data-topic="gis2" data-height="478" class="services--button">Geophysical Services<span class="slider"></span></button>
        <span id="services--block"></span>
    </div>
    <div id="services--selector--mobile">
        <h2>Services</h2>
        <select id="services--picker__mobile">
            <option data-topic="arch">Archaeology</option>
            <option data-topic="history">Architectural History</option>
            <option data-topic="gis">Geographic and Information Services</option>
            <option data-topic="cemetery">Cemetery Evaluation and Excavation</option>
            <option data-topic="gis2">Geophysical Services</option>
        </select>    
    </div>

    <div id="services--descs">
        <div id="arch" class="services--descs--contain active">
            <h3>Archaeology</h3>
            <p>Archaeological investigation is undertaken in a phased approach, including assessment of the project area (Phase IA), identification and recordation of archaeological resources (Phase IB), assessment of their National Register eligibility (Phase II), and mitigation of potential impacts to significant archaeological resources through avoidance or data recovery (Phase III). To successfully navigate this process, we employ a variety of strategies including consultation with interested parties, traditional archaeological excavation, remote sensing, GIS applications, construction monitoring, and detailed reporting of findings, among others. All of our projects are conducted in compliance with all Federal, state, and/or local regulations.</p>
            <a href="#">View Case Study</a>
        </div>
        <div id="history" class="services--descs--contain">
            <h3>Architectural History</h3>
            <p>Architectural History is related to the study of historic buildings, structures, objects, and other aspects of the “built environment.” These historic resources oftentimes yield important information about their owner's/architects, function/technology, and how they have been altered over time. Investigations can typically includes site plans, photographic documentation, measured drawings, architectural analysis and description, and comprehensive literature and archival searches. This effort is typically undertaken to interpret and preserve our collective built heritage, as part of a larger historical account of a particular resource/area, or as part of a mitigation process for a historically significant resource that cannot be avoided by development.</p>
            <a href="#">View Case Study</a>
        </div>
        <div id="gis" class="services--descs--contain">
            <h3>Geographic and Information Services</h3>
            <p>Our goal in using Geographic Information Systems (GIS) is to help our clients better gain an advantage from the large amount of geographic data we have at our disposal. Having this much data at our fingertips allows our firm to identify “up front” any project constraints that may exist. We are the only cultural resources management firm in the region that owns and maintains this amount of data, and we can put it to work for you!</p>
            <a href="#">View Case Study</a>
        </div>
        <div id="cemetery" class="services--descs--contain">
            <h3>Cemetery Evaluation and Excavation</h3>
            <p>Heritage Consultants also offers experience and expertise in cemetery-related studies as part of our client services. We have completed cemetery projects for energy sector, transportation sector, and private sector clients, as well as state agencies. The staff of Heritage Consultants also has formulated and operationalized Unanticipated Discovery Plans in a wide variety of settings, including housing subdivisions, natural gas lines, and electricity utility projects. Heritage Consultants has also undertaken the excavation and recovery of human remains from both small and large cemeteries that have been endangered by infrastructural projects and by natural processes.</p>
            <a href="#">View Case Study</a>
        </div>
        <div id="gis2" class="services--descs--contain">
            <h3>Geophysical Services</h3>
            <p>Geophysical investigations are a non-invasive way to survey areas of archaeological potential.  Common types of surveys paired with archaeological investigations often include Ground Penetrating Radar, Magnetometry, or Metal Detection surveys.  At Heritage Consultants, we tailor each of our geophysical investigations to project specific goals, and often employ these techniques in combinations with Phase I, II, or III archaeological investigations. </p>
            <a href="#">View Case Study</a>
        </div>

    </div>
    <div id="services--images">
        <div id="services--images--contain">
            <img width="500" height="357" id="arch--image" class="active" alt="Picture of a historical red bridge" loading="lazy" srcset="arch.webp 350w, arch-b.webp 500w" sizes="(maxWidth : 350px) 350px , (maxWidth : 500px) 500px">
            <img width="500" height="357" id="history--image" class="" alt="Picture of classic colonial white house" loading="lazy" srcset="history.webp 350w, history-b.webp 500w" sizes="(maxWidth : 350px) 350px , (maxWidth : 500px) 500px">
            <img width="500" height="357" id="gis--image" class="" alt="Classic weathered map of Hartford" loading="lazy" srcset="GIS.webp 350w, GIS-b.webp 500w" sizes="(maxWidth : 350px) 350px , (maxWidth : 500px) 500px">
            <img width="500" height="357" id="cemetery--image" class="" alt="Image of cemetery being excavated" loading="lazy" srcset="cemetery.webp 350w, cemetery-b.webp 500w" sizes="(maxWidth : 350px) 350px , (maxWidth : 500px) 500px">
            <img width="500" height="357" id="gis2--image" class="" alt="Topography Map" loading="lazy" srcset="GIS2.webp 350w, GIS2-b.webp 500w" sizes="(maxWidth : 350px) 350px , (maxWidth : 500px) 500px">
        </div>  
    </div>
</section>

<style>
    #services {
        padding:64px 80px 64px 80px;
        background-color: #fff;
        display: grid;
        grid-template-columns: auto 1fr auto;
        max-width:1920px;
        scroll-margin-top: 69px;
    }
    /* --- Services Selectors --- */
    #services--selector {
        display: flex;
        flex-direction: column;
        align-items: end;
        border-right:1px solid #78A691;
        padding-right:40px;
        position: relative;
    }
    #services--selector > h2 {
        color:#0063A7;
        font-size: 3.6rem;
        font-weight: 400;
        margin: 0px 0px 24px 0px;
    }
    .services--button {
        background-color: transparent;
        border: 0px solid #fff;
        color: #212121;
        margin: 24px 0px;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: right;
        position: relative;
        transition: all 200ms linear;  
    }
    .services--button > .slider{
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 100%;
        height: 3px;
        content: '';
        background-color: #0063A7;
        opacity: 0;
        transition: all 200ms linear; 
        pointer-events: none; 
    
    }
    .services--button:hover  {
        color: #0063A7;
    }
    .services--button:hover > .slider , .services--button.active > .slider
    {
        bottom: -4px;
        opacity: 1;
    }
    .services--button.active  {
        color: #0063A7;
    }
    #services--block {
        position: absolute;
        right: -4px;
        top: 112px;
        width: 8px;
        height: 40px;
        content: '';
        background-color: #0063A7;
        opacity: 1;
        transition: all 200ms linear;   
    }
    /* --- Services Desc --- */
    #services--descs{
        padding: 24px 40px 0px 40px;
    }
    .services--descs--contain{
        max-height:0px;
        overflow-y: hidden;
    }
    .services--descs--contain.active{
        max-height:100%;
    }
    .services--descs--contain > h3{
        color:#0063A7;
        font-weight:700;
        font-size:1.8rem;
        margin-bottom:24px;
    }
    .services--descs--contain > p{
        color:#212121;
        font-weight: 400;
        font-size: 1rem;
        line-height: 2.2rem;
        margin:0px;
    }
    .services--descs--contain > a{
        display: none;
        background-color:#0063A7;
        color:#fff;
        text-decoration: none;
        font-size: 1.4rem;
        padding: 12px 36px;
        margin-top:32px;
        width: fit-content;
    }
    .services--descs--contain > a:hover{
        cursor: pointer;
        background-color: #004575;
    }


    /* --- Services Images --- */
    #services--images {
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width:100%;
        z-index:0;
    }
    #services--images--contain {
        position: relative;
        aspect-ratio: 500 / 357;
    }
    #services--images--contain > img {
        display:none;
        border: 12px solid #0063A7;
    }
    #services--images--contain > img.active {
        box-sizing: unset;
        max-height:357px;
        display:block;
    }
    /* Mobile Stuff */
    #services--selector--mobile {
        display: none;
    }
    @media only screen and (max-width: 1500px) { 
        #services--images { 
            max-width: 350px;
        }
        #services--images--contain > img.active {
            width: 100%;
            height:250px;
            display:block;
        }
    }


    @media only screen and (max-width: 1350px) { 
        #services--images{
            display:none;
        }
        #services {
            grid-template-columns: auto 1fr;
        }
    }

    @media only screen and (max-width: 1000px) { 
        #services { 
            grid-template-columns: auto;
            padding: 8px;
        }
        #services--selector--mobile {
            display: Flex;
            flex-direction: column;
            align-items: center;
        }
        #services--selector--mobile > h2 {
            color:#0063A7;
            font-size: 3.6rem;
            font-weight: 400;
            margin: 0px 0px 16px 0px;
        }
        #services--selector--mobile > select {
            color:#0063A7;
            font-size: 1.1rem;
            padding:4px 8px;
        }
        #services--selector {
            display:none;
        }
        .services--descs--contain > h3 {
            margin-top:0px;
        }
        
        #services--images {
            max-width: 100%;
            height: 100%;
            display:flex;
            align-items: flex-start;
            padding:40px 0px;
        }
        #services--descs {
            padding:24px 0px 0px 0px;
        }
        #services--images--contain > img.active {
            display:block;
            max-width: calc(100% - 24px);
            width: 100%;
            height:auto;
        }
    }


</style>

<script>
    const buttons = document.getElementsByClassName('services--button');
    
    for (const button of buttons) {
        button.addEventListener("click", e => {
            let topic = e.srcElement.dataset.topic;
            let height = e.srcElement.dataset.height
            console.log(e, topic, height)
            //---switch active and move Block
            document.getElementById('services--block').style.top = `${height}px`;
            document.querySelector('.services--button.active').classList.remove("active");
            e.srcElement.classList.add('active');

            //---hide current Desc & Image
            slideUp()

            //---show correct Desc & Image
            slideDown(topic)
            showImage(`${topic}--image`)

        })
    }

    document.getElementById("services--picker__mobile").addEventListener("change", e => {
        var topic = e.target.options[e.target.selectedIndex].dataset.topic;
        //---hide current Desc & Image
        slideUp()
        //---show correct Desc & Image
        slideDown(topic)
        showImage(`${topic}--image`)
    });

    function slideUp() {
        var elem = document.querySelector('.services--descs--contain.active');
        elem.style.maxHeight = "0px";
        elem.classList.remove("active")
        var elem2 = document.querySelector('#services--images--contain > .active');
        elem2.style.display = "none";
        elem2.classList.remove("active")

    }
    function slideDown(el) {
        var elem = document.getElementById(el);
        elem.classList.add("active")
        elem.style.maxHeight = "100%";
    }
    function showImage(el){
        var elem = document.getElementById(el);
        elem.classList.add("active")
        elem.style.display = "block";
    }
</script>